@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dosis:wght@300&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #8eb897   ;
  --secondary-color: #3a5e54 ;
  --accent1-color: #27213c;
  --accent2-color: #c49991;

  /* change the values below to your chosen font(s) */
  --heading-font: "Cormorant Garamond";
  --paragraph-font: Dosis, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #27213c;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #3a5e54; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #c49991; /* paragraph text on a colored background */ 
  --paragraph-background-color: #27213c  ;
  --nav-link-color: #8eb897;
  --nav-background-color: #27213c;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #3a5e54;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h1{
  text-align: center;
}
p{
  font-family: var(--paragraph-font);
  font-size: 20px;
  line-height: 1.5;
}
body{
  background-color: var(--primary-color);
  margin: 0px auto;
  max-width: 1000px;
  padding: 0 30px;
 
}
header img {
    align-self: stretch; /* Stretch the image to match the height of the header */
    margin-left: auto;
    object-fit: fill;
    height: 60px;
    opacity: .8;
}

#section-img-left img {
  float: left; /* Float the image to the left */
  width: 50%; /* Set the width of the image to half of the container's width */
  height: 100%;
  margin-right: 20px; /* Add some space between the image and the text */
}

#section-img-left p {
  flex: 1;
}
#section-img-right {
  overflow: auto; /* Clear the float */
}

#section-img-right .text-container {
  float: left; /* Float the text to the left */

}

#section-img-right img {
  float: right; /* Float the image to the right */
  margin-left: 20px; /* Add some space between the image and the text */
  width: 33%; /* Set the width of the text to half of the container's width */
  height: 100%;
}
header{
  display:flex;
  height: 60px;
  background-color: var(--secondary-color);
}
footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px;
    background-color: var(--secondary-color);
}
nav{
  display: flex;
  justify-content: space-around;
}
nav a, footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--nav-hover-link-color);
  background-color: var(--nav-background-color);
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
  height: 100%

}
a{
  color: black
}
header nav a:hover, footer a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}
footer nav{
  margin-left: auto;
}
footer nav a img{
height: 30px
}
#footer-img{
  float: right;
  height: 100%;
}
footer img{
  margin-left: auto;
  z-index: 20;
  
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer div a,small{
  margin-left: 1em
}

#index img{
  float: right;
  width: 50%;
  height: auto
}

#answers{
  clear:both;
  padding: 30px
}
.sub-answers{
  clear:both
}
#answers img {
  float:left;
  width: 33%;
  height: auto;
  padding: 30px 30px 30px 30px;
}
#answers > :nth-child(2) img{
  float:right
}







.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 23%;


}
.column img{
  width: 100%;
  
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1000px;
  
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




#hero-img{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: -80px 0 0 0;
  z-index: -2000;
  float: right;
 
}
#hero-box h1{
  text-align:center;

}
.opacity60 {
  opacity: .6;
}
.opacity80{
  opacity: .8;
}

#hero-msg{
  float:right;
  z-index: 20
}

#hero-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 6em;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  opacity: 75%;  
}

#contact-links {
  display: grid;
  grid-template-columns: 5% auto 40%; /* Three columns: auto, 1fr, auto */
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 10px; /* Gap between grid items */

  
}
#contact-links h3{
  grid-column: 1/3;
  font-size: 2em;
  text-align: center;
}
.image-container {
  grid-column: 1; /* First column */

}

.content-container {
  grid-column: 2; /* Second column */
}
.image-container,
.content-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}


#last-image {
  grid-column: 3; /* Third column */
  grid-row: 1 / -1; /* Span all rows */
  width: 100%; /* Set the width to 100% of the column */
  height: auto; /* Let the height adjust automatically based on the aspect ratio */
  object-fit: contain; /* Fit the image within its container while maintaining aspect ratio */
}

main {
  margin-bottom: -0.75em; /* Adjust the value as needed */
}

footer {
  margin-top: 0;
}

@media screen and (max-width: 900px) {
  .contact-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 3em;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    opacity: 75%;  
  }
  
  #contact-links {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Three columns: auto, 1fr, auto */
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 10px; /* Gap between grid items */
  
    
  }
  #contact-links h3{
    grid-column: 1/3;
    font-size: 2em;
    text-align: center;
  }
  .image-container {
    grid-column: 1; /* First column */
  
  }
  
  .content-container {
    grid-column: 2; /* Second column */
  }
  .image-container,
  .content-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  
  #last-image {
    grid-column: 1/3; /* Third column */
    grid-row: 5/6; /* Span all rows */
    width: 100%; /* Set the width to 100% of the column */
    height: auto; /* Let the height adjust automatically based on the aspect ratio */
    object-fit: contain; /* Fit the image within its container while maintaining aspect ratio */
  }
  
  main {
    margin-bottom: 0em;
  }

  footer {
    margin-top: 0;
  }
  footer nav a img{
    height: 20px
    }
    nav a, footer a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: var(--nav-hover-link-color);
      background-color: var(--nav-background-color);
      text-decoration: none;
      padding-left: 1em;
      padding-right: 1em;
      height: 100%
    
    }
}